<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="aboutme.css">
    <title>Document</title>
</head>

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body>



   
        
        <div class="a">


            <h3>COMP 229 - Web Application Development </h3>
            
            <h4>Student name : Pham Hoang Nhat Minh -Student #301212556</h4>
            
            <p>Promotions pages:</p>
            <a href="https://www.mcdonalds.com/ca/en-ca/deals-and-promotions.html"><img  src="https://github.com/MinhCentennial03/COMP229-F2020-WEEK3/blob/main/public/assets/images/avt.png" alt="Mountain" style="width:400px" width="1460"  ></a><br><br><br>
          

            <p>My full name is PHAM HOANG NHAT MINH. 
                <br>I born in Viet Nam and studied in there until grade 10 
                <br> I moved to Toronto for study high school.
                <br>I'm 19 years old right now, my bithday is Sept-03
                <br>I want to achieve 4.0 gpa but i don't think i can do it... 
                <br>I live in Toronto alone so i need to pay rent and food by my self T_T 
                <br><a href="https://docs.google.com/document/d/1kLFtWMnwOQssezqmarJk5p1KjyycciKNlpdljTBvGM0/edit?usp=sharing" target="_blank" style="color: #FF0000;">RESUME</a></b>


            
            </p>
        </div>   
       

        <%- include partials/bottom_nav.ejs %>  
        <%- include partials/footer.ejs %>

</body>
</html>