<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="project.css">
    <title>Document</title>
</head>
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <h3>COMP 229 - Web Application Development </h3>
    <h4>Student name : Pham Hoang Nhat Minh -Student #301212556</h4>
    </header>

    <div class="Mission1">  
        
        <div class="projecta">
            <p><b>Project 1-Software Engineering (SEM2)-Consistency App</b></p>

            <p>  
                Consistency is a dedicated software launcher/application manager.<br>Consistency’s main goal is to launch relevant software all from one place in an organized manner. 
                <br>Relevant software is considered as software chosen at the user’s discretion based on the profile chosen, while also being recommended applications to add.
                <br> Users range from students to e-gaming clubs, 
                <br>to businesses that make use of multiple software applications in unison. 
                <br>Consistency will keep a consistent speed boost while software is launched from Consistency’s customizable GUI. 
            </p>
        </div>
        <div class="projectb">
            <p><b>Project 2-Software System Development(SEM3)-Heath Care System</b></p>
           
            <p>As known as health care is the most essential thing to every single person,
                <br> but it is not always served well in traditional health system. Furthermore, find a good location near you, good doctor that fit for you, 
                <br>and saving your time to give you best service when you are tired of your health. 
            </p>
        </div>
        <div class="projectc">
            <p><b>Project 3 : Flappy Birth Project with some algorithm...</b></p>
           
            <p>It is an Intelligence Agent (IA) I built using the NeuroEvolution of Augmenting Topologies (NEAT) algorithm.. , i'm still working on it.....
            </p>
        </div>
    
        </div>
        
    

       

    </div>  

</body>
</html>

