<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="project.css">
    <title>Document</title>
</head>
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <h3>COMP 229 - Web Application Development </h3>
    <h4>Student name : Pham Hoang Nhat Minh -Student #301212556</h4>
    </header>

    
        </ul>
        <p></p>
        <ul>
        <li>
        <p>Nutrion pages of McDonald:</p>
        <a href="https://www.mcdonalds.com/ca/en-ca/about-our-food/nutrition-calculator.html"><img  src="https://s7d1.scene7.com/is/image/mcdonalds/Category-HappyMeal:nutrition-calculator-tile-desktop" alt="Mountain" style="width:300px" width="460"  ></a>
        <br><br>
        </li>

        <li>
        <p>Promotions pages:</p>
        <a href="https://www.mcdonalds.com/ca/en-ca/deals-and-promotions.html"><img  src="https://www.mcdonalds.com/content/dam/sites/ca/nfl/feature-callout/en/CoffeePairing22-EN-promo.jpg" alt="Mountain" style="width:400px" width="1460"  ></a><br><br><br>
        </li>

        <li>
        <p>Rewards:</p>
        <a href="https://www.mcdonalds.com/ca/en-ca/getmoremcds/mymcdonaldsrewards.html"><img  src="https://s7d1.scene7.com/is/image/mcdonalds/loyalty2021-generic-carousel-dt-EN:accessible-carousel-desktop" alt="Mountain" style="width:400px" width="1460"  ></a><br><br>
        </li>
                
            

       

    </div>  

</body>
</html>

