<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="style.css">
    <title>Document</title>
</head>
<header>
    
</header>
<body>

 
    <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
    <h3>COMP 229 - Web Application Development </h3>
    <h4>Student name : Pham Hoang Nhat Minh -Student #301212556</h4>
    </header>

  
        
        <div class="a">
            
            
            <h3>I can do the following things as an AI Engineering</h3>
           
             <ul>
                <li> Using Kibana to analyse millions of transactions per day to find abnormal transactions.</li>
                <li>Analyzing flagged transactions for suspicious patterns and reporting them.</li>
                <li>Research about how spoofers exploit technology to bypass GeoComply’s rules and be a step ahead of them.</li>
                <li>Using Python and Kibana to perform in-depth analysis of fraudulent transactions.</li>
                <li>Exploring new Python libraries for conducting analysis and visualization of results.</li>
                <li>Training Machine Learning models to detect fraudulent transactions on the fly and prevent fraud from happening in the first place.</li>
            </ul>

                    <li>Html<img  src="https://w7.pngwing.com/pngs/840/443/png-transparent-html-5-logo-web-development-html-css3-canvas-element-web-design-w3c-html5-logo-miscellaneous-text-orange.png" alt="java" style="width:100px" width="1460" ></li>
                    <li>CSS<img  src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/121-css3-512.png" alt="java" style="width:100px" width="1460" ></li>
                    <li>Javascript<img  src="https://i.pinimg.com/736x/28/75/3d/28753ddf79d70042ba86564947e13bf5.jpg" alt="java" style="width:100px" width="1460" ></li>
                    <li>Java<img  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="java" style="width:100px" width="1460" ></li>
                    <li>Unix Linux<img  src="https://beta.techcrunch.com/wp-content/uploads/2009/07/unixlinux.jpg" alt="java" style="width:100px" width="1460" ></li>
            </div>   
       

    </div>  


</body>
</html>
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>